# Entornos virtuales
.venv/
venv/
env/

# Archivos compilados
__pycache__/
*.pyc
*.pyo

# Archivos de sistema
.DS_Store
*.log

# Migraciones (opcional si quieres versionarlas después)
*/migrations/__pycache__/
frontend/node_modules/
frontend/.next/
frontend/out/
